/* Default CSS goes here */
.matform-label-is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.matform-element{
    width: 100%;
    height: 100%;
    outline: unset;
}
.matform-track-is-hidden::-webkit-outer-spin-button,
.matform-track-is-hidden::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.matform-track-is-hidden[type=number] {
    -moz-appearance: textfield;
}
